{{#if items}}
	<ul class="squid-api-action">
		{{#each items}}
			{{#if id}}
				{{#if selected}}
					<li class="active" selected="true" data-value="{{value}}" data-type="{{type}}" data-id="{{id}}">
						<i class="fa fa-square-o"></i><span>{{value}}</span>
					</li>
				{{else}}
					<li data-value="{{value}}" data-type="{{type}}" data-id="{{id}}">
						<i class="fa fa-square-o"></i><span>{{value}}</span>
					</li>
				{{/if}}
			{{else}}
				<li></li>
			{{/if}}
		{{/each}}
	</ul>
{{/if}}
{{#if message}}
	<span class='no-items'>
		{{#if computingInProgress}}
			<span class="glyphicon glyphicon-refresh"></span>
		{{/if}}
		{{message}}
	</span>
{{/if}}
