   {{#if selAvailable}}
        <!-- display filter name and selection -->
        <dt>{{name}}</dt>
        <dd>
        <select name="{{facetId}}" class="multiselect" multiple="multiple" id="{{facetId}}" size="{{displaySize}}">
            {{#each options}}
                <option value="{{value}}"{{#if selected}} selected{{/if}}>
                    {{label}}
                </option>
            {{/each}}
        </select>
        </dd>
    {{else}}
        <!-- just display filter name -->
        <dt>{{name}}</dt>
        <dd>-</dd>
    {{/if}}