{{#if dateAvailable}}

<!-- display item name and date picker panel -->
<div class='sq-select' id='{{facetId}}'>
    <div class='continuousFacetContainer'>
        <div id='dateValues' class='dateValues'>
            <span class="muted">From </span>
            <span class='dateValue' id="startDate">{{startDateVal}}</span> 
            <span class="muted"> To </span>  
            <span class='dateValue' id="endDate">{{endDateVal}}</span>
        </div>
        <div id='pickerContainer' class='pickerContainer'> 
            <div class='startDatePicker'></div>
            <div class='endDatePicker'></div>
        </div>
    </div>
</div>              

    
{{else}}
    <!-- just display item name -->
    {{name}}
    <div>-</div>
{{/if}}