{{#if popup}}
<div class="squid_api_filters-categorical-panel-view popup">
	{{#unless initialFacet}}
		<div id="filter-selection">
			<select class="btn btn-select-filter" size="2"></select>
		</div>
	{{/unless}}
	<div id="search">
		<div class="input-group">
			<input class="form-control" id="searchbox" type="search" placeholder="Search for">
				<span class="input-group-addon">
					<i class="fa fa-search"></i>
				</span>
		</div>
	</div>
	<div id="filter-display-results">
	</div>
	<div id="selected">
	</div>
	<div id="pagination-container">
</div>
{{else}}
<div class="panel panel-default filter-panel squid_api_filters-categorical-panel-view">
	{{#unless panel-buttons}}
	<div class="panel-heading">
		<button type="button" class="close" data-toggle="collapse"
			data-target="{{data-target}}" data-clavier="true" aria-hidden="true">
		</button>
	</div>
	{{/unless}}
	<div class="panel-body">
		{{#if panel-buttons}}
			<div class="row">
		{{else}}
			<div class="row no-padding">
		{{/if}}
			<div class="col-md-7">
				{{#unless initialFacet}}
					<div id="filter-selection">
						<select class="btn btn-select-filter" size="2"></select>
					</div>
				{{/unless}}
				<div id="search">
                  <div class="input-group">
                    <input class="form-control" id="searchbox" type="search" placeholder="Search for">
                    <span class="input-group-addon">
                      <i class="fa fa-search"></i>
                    </span>
                  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<div id="filter-display-results">
				</div>
			</div>
			<div class="col-md-5">
				<div id="selected">
				</div>
			</div>
		</div>
		<div class="row">
			<div id="pagination-container">
					
			</div>
		</div>
		<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-8">
				
			</div>
	</div>

	{{#if panel-buttons}}
		<div class="panel-footer">
			<button type="button" class="btn btn-primary apply-selection" data-toggle="collapse"
				data-target="{{data-target}}" data-clavier="true">Apply</button>
			<button type="button" class="btn btn-default cancel-selection" data-toggle="collapse"
				data-target="{{data-target}}" data-clavier="true">Cancel</button>
		</div>
	{{/if}}
</div>
{{/if}}