<div class="squid-api-filters-categorical-selected-view">
{{#if noData}}
    <label class="noData {{#if mandatory}}warning{{/if}}">{{noDataMessage}}</label>
{{else}}
    <ul class="facets" id="squid_api_filters_categorical_selected_view">
        {{#each facets}}
            <li attr-id="{{facetItemId}}" attr-name="{{facetNameId}}">
                <div class="facet-name">
                    {{this.facetName}}
                </div>
                <div class="facet-value">
                    {{this.facetItem}}
                </div>
                <div class="facet-remove">
                    <i class="glyphicon glyphicon-remove"></i>
                </div>
            </li>
        {{/each}}
    </ul>
{{/if}}
</div>

